@font-face {
    font-family: "Raleway MediumItalic";
    src: url( "/public/Font/Body_text/Raleway-MediumItalic.ttf");
}
@font-face {
    font-family: "Raleway Regular";
    src: url("/Font/Body_text/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Raleway SemiBold";
    src: url("../Font/Body_text/Raleway-SemiBold.ttf");
}

.logo-kc-class{
    width: 100%;
    max-width: 250px;
    color: #fff;
}
.navbar-kc-class{
    background-color: #4bb1b1;
    padding: 5px 0;
    margin: 0;
}
.navbar-kc-class .navbar-brand{
    padding: 0;
    margin: 0;
}
.banner-kc{
    background: #e83e8c;
    height: 260px;
    width: 100%;
    background-image: url('../banner/actual_size_1920x409px/banner_with_text.jpg');
    background-size: cover;
    background-position: center;
}
.font-relaway-m{
    font-family:"Raleway MediumItalic";
}

.banner-class{
    width: 60%;
}

.text-imag{
    background-color: #e83e8c;
}
.btn-kc{
    width: 200px;
}
.btn-kc-tx{
    display: flex;

}
a:link, a:visited, a:active {
    text-decoration:none;
    color: #e83e8c;
}


@media (max-width: 769px) {
    .banner-kc{
        background-position: center right;
        background-image: url('../banner/actual_size_1920x409px/banner_no_text.jpg');
    }
}
