@font-face {
    font-family: "Raleway MediumItalic";
    src: url( "/public/Font/Body_text/Raleway-MediumItalic.ttf");
}
@font-face {
    font-family: "Raleway Regular";
    src: url("/Font/Body_text/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Raleway SemiBold";
    src: url("../Font/Body_text/Raleway-SemiBold.ttf");
}

.logo-kc-class{
    width: 100%;
    max-width: 250px;
    color: #fff;
}
.navbar-kc-class{
    background-color: #4bb1b1;
    padding: 5px 0;
    margin: 0;
}
.navbar-kc-class .navbar-brand{
    padding: 0;
    margin: 0;
}
.banner-kc{
    background: #e83e8c;
    height: 260px;
    width: 100%;
    background-image: url('../banner/actual_size_1920x409px/banner_with_text.jpg');
    background-size: cover;
    background-position: center;
}
.register-kc{
    background: #611550;
    color: #fff;
}
.button-kc-green{
    border-radius: 15px;
    background: #B9D539;
}
.mission-kc{
    background: #E9E6DD;
    width: 100%;
    height: 400px;
    padding: 50px 0;
    color: #611550;
}
.text-mission-kc{
    overflow-y: auto;
}
.title-kc{
    font-size: 18px;
    border-radius: 15px;
    background: #fff;
    color: #000;
    display: inline-block;
    padding: 8px 16px;
}
.title-kc-green{
    background: #B9D539;
    color: #611550;
}
ul.no_bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li.img-kc-1{
    background: url("../assets/pngs/asset-01.png") no-repeat left top;
    padding-left: 60px;
    padding-top: 3px;
}
.imag-00{
    background: #6E6E6E;
    height: 300px;
    width: 100%;
}
.classroom-kc{
    background: #33BDB9;
    width: 100%;
    height: 350px;
    padding: 50px 0;
    color: #FFFFFF;
}
.title-kc-purple{
    background: #AE256C;
    color: #FFFFFF;
}
.text-classroom-kc{
    overflow-y: auto;
    padding: 10px 40px;
}
.img-classroom-kc{
    display: block;
    text-align: center;
    margin: auto;
}
.logo-kc-classroom{
    width: 100%;
}

.text-curriculum-kc{
    background-color: #AE256C;
    color: #FFFFFF;
    padding: 5px 10px 40px 10px;
}
.title-kc-gold{
    background: #F79D28;
    color: #AE256C;
}
.button-kc-gold{
    background: #F79D28;
    margin: 0;
    padding: 0;
}
.buttun-kc-img{
    width: 100%;
    padding: 10px 10px;
}
.button-kc-gold-img{
    padding: 40px;
}








.font-relaway-m{
    font-family:"Raleway MediumItalic";
}

.banner-class{
    width: 60%;
}

.btn-kc{
    width: 200px;
}
.btn-kc-tx{
    display: flex;

}
a:link, a:visited, a:active {
    text-decoration:none;
    color: #e83e8c;
}


@media (max-width: 769px) {
    .banner-kc{
        background-position: center right;
        background-image: url('../banner/actual_size_1920x409px/banner_no_text.jpg');
    }
    .mission-kc{
        height: auto;
    }
    .imag-00-kc{
        padding: 25px 25px 0;
    }
    .classroom-kc{
        height: auto;
    }
}
